page-home {

    .fondo {
        background-image: url(../../assets/imgs/3.jpg);
    }

    .notas {
        background-color: #2bff0000;
    }

    #splashscreen {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100000;
        width:100%;
      }

      .flb {
        background-color: rgb(255, 255, 255);
        height:100%;
        width:100%;
        animation: pulse 1s linear forwards;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .blanco{
        background-color: rgb(255, 255, 255);
      }
}
