<ion-header>

  <ion-navbar>
    <ion-title>Detalle de Nota</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="fondoDetalle" *ngIf="show">

  <ion-list>

    <ion-item>
      <ion-label floating>
          <ion-icon name="book"></ion-icon>Título</ion-label>
      <ion-input type="text" [(ngModel)]="note.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
          <ion-icon name="clipboard"></ion-icon>Descripción</ion-label>
      <ion-textarea [(ngModel)]="note.description"></ion-textarea>
    </ion-item>

  </ion-list>

  <div padding>
  <button ion-button block (click)="addNote()">Guardar Nota</button>
  </div>

  <div padding>
  <button ion-button block (click)="deleteNote(note)" color="danger" *ngIf="id!=0">Eliminar Nota</button>
  </div>

</ion-content>